
# macOS system files
.DS_Store

# JetBrains IDEs (IntelliJ, AppCode, etc.)
.idea/

# Xcode
*.xcworkspace
*.xcuserdata
DerivedData/

# Swift Package Manager
.build/

# Ruby
.bundle/
vendor/
log/

# General
*.swp
*.swo
*.bak
*.tmp
*~

# Node/npm (in case you ever use it)
node_modules/

# VS Code
.vscode/
